################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PostcodeApi/.vs/PostcodeApi
/PostcodeApi/PublicApi/bin/Debug/net7.0
/PostcodeApi/PublicApi/obj
/PostcodeApi/PublicApi/PublicApi.csproj.user
/PostcodeApi/UnitTests/obj/Debug/net7.0
/PostcodeApi/UnitTests/obj
/PostcodeApi/UnitTests/bin/Debug/net7.0
/PostcodeApi/.vs/ProjectEvaluation
/PostcodeApi/PublicApi/bin/Release/net7.0
